body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

header a {
  background-color: grey;
  padding: 10px
}

section#featured-property {
  margin: 50%;
  width: 50%;
  text-align: center;
}

section#details {
  background-color: red;
  column-count: 4;
  text-align: center;
  display: run-in;
}
